<div class="calculator">
  <!-- Result -->
<app-result  [result]="result" *ngIf="result"></app-result>
  <div class="calculator__input">
    <input
      type="text"
      placeholder="Type expression here"
      [(ngModel)]="inputValue"
      (keydown.Enter)="calculate()"
      (keydown)="keyDown($event)"
    />
    <small *ngIf="showError" class="calculator__error"
      >Error: Check syntax</small
    >
  </div>
  <!-- Submit button -->
  <button class="calculator__calculate" (click)="calculate()">Calculate</button>

  <hr/>
  <!-- Operations operators -->
  <app-operators (execute)="execute($event)"></app-operators>

  <!-- Numbers, c and decimal dot-->
  <app-calculator-buttons (execute)="execute($event)"></app-calculator-buttons>
</div>
