@import './../../../../../scss/variables';

.calculator {
  margin-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: nunitoSans;
  position: relative;

  .calculator__input {
    input {
      padding: 10px;
      border-radius: 5px;
      outline: none;
      min-width: 400px;
      font-size: 1.5rem;
      border: 2px solid $gray;
      &:focus {
        border-color: $red;
      }
    }

    .calculator__error {
      display: block;
      font-size: .8rem;
      color: $red-light;
    }
  }

  .calculator__calculate {
    border-radius: 5px;
    font-size: 1.2rem;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 24px 0;
    background-color: $red;
    cursor: pointer;
    &:hover {
      color: #fff;
      opacity: .7;
    }
  }
  hr {
    min-width: 400px;
  }
}
